@font-face {
  font-family: firaGO;
  src: url('assets/fonts/FiraGO-Regular.otf');
}

@font-face {
  font-family: firaGO;
  src: url('assets/fonts/FiraGO-SemiBold.otf');
  font-weight: 300;
}

@font-face {
  font-family: firaGO;
  src: url('assets/fonts/FiraGO-Light.otf');
  font-weight: 100;
}

* {
  box-sizing: border-box;
  font-family: firaGO, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #3B424F;
}

.hero {
  height: 250px;
  background-image: url('assets/images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @media (min-width: 768px) {
    height: 478px;
    padding: 0 30px
  }

  &__overlay {
    background-color: white;
    opacity: 0.35;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    padding-top: 32px;

    @media (min-width: 768px) {
      padding-top: 120px;
    }

    h2 {
      font-size: 20px;
      width: 207px;
      margin: 0 0 70px;

      @media (min-width: 768px) {
        width: 300px;
        font-size: 36px;
        margin-bottom: 20px;
      }
    }
  }

  &__price-btn {
    text-decoration: none;
    color: white;
    background: #1175BB;
    text-align: center;
    border-radius: 35px;
    padding: 14px 20px;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    width: 189px;
    font-weight: normal;

    @media (min-width: 768px) {
      width: 255px;
      height: 70px;
      padding: 22px 5px;
      font-size: 23px;
      margin-left: 0;
    }
  }
}

.header-contact {
  height: 32px;
  background-color: #D6E0EF;
  display: flex;
  justify-content: flex-end;

  @media (min-width: 768px) {
    height: 60px;
  }


  span {
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 32px;
    font-size: 11px;

    @media (min-width: 768px) {
      padding-left: 10px;
      font-size: 20px;
      margin-top: 20px;
      margin-right: 120px;
    }
  }

  img {
    width: 12px;
    height: 9px;
    margin-top: 12px;

    @media (min-width: 768px) {
      width: 20px;
      height: 15px;
      margin-top: 24px;
    }
  }
}

.container {
  position: relative;
  margin:0 auto;
  width: 100%;
  padding: 0 30px;

  @media (min-width: 768px) {
    max-width: 1600px;
  }
}

.service-box {
  display: flex;
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 30px;
  }

  &__desc {
    padding-left: 25px;
  }

  img {
    height: 78px;
    width: 78px;

    @media (min-width: 768px) {
      height: 104px;
      width: 104px;
    }
  }

  h3 {
    color: #1175BB;
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 13px;
    margin: 0;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }
}

.services {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

@media (min-width:768px) {
  .services .container {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 768px) {
  .instruction .container{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width:758px) {
  .instruction__title {
    text-align: center;
    align-self: center;
    flex: 2;
  }
}

.instruction__title img {
  display: none;

  @media (min-width: 768px) {
    display: inline-block;
  }
}

.instruction__title h3 {
  color: #1b77b9;
  font-size: 17px;
  text-align: center;
  margin: 15px auto;
  font-weight: normal;

  @media (min-width:768px) {
    font-size: 30px;
    width: 400px;
  }
}

.instruction {
  @media (min-width:768px) {
    margin-bottom: 30px;
  }
}

.instruction-video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 310px;

  @media (min-width: 768px) {
    flex: 2;
    overflow: hidden;
  }
}

.instruction-video img {
  box-shadow: 0 3px 11px 0 #d2d2d4;
  position: absolute;
  width: 375px;
  height: 257px;

  @media (min-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.play-icon {
  z-index: 1;
  height: 65px;
  width: 65px;
  text-align: center;
  background-image: url('assets/images/playbtn.svg');
  background-size: cover;

  @media (min-width: 768px) {
    height: 148px;
    width: 148px;
  }
}

footer {
  height: 32px;
  background-color: #1175BB;
  color: white;
  text-align: center;
  padding-top: 7px;
  font-weight: 100;

  @media (min-width: 768px) {
    height: 60px;
    font-size: 20px;
    padding-top: 20px;
  }
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  background: #ffffffcf;

  &__container {
    width: 310px;
    background: white;
    border-top-right-radius: 30px;
    background-clip: padding-box;
    box-shadow: 2px 1px 11px 1px #ccc;
    margin: 100px auto;
    position: relative;
    padding: 15px 15px 25px;

    &--white {
      @media (min-width: 768px) {
        background: white !important;
      }
    }

    .closebtn-icon {
      background-image: url('assets/images/closebtn.svg');
      width: 30px;
      height: 29px;
      right: 0;
      top: 0;

      @media (min-width: 768px) {
        width: 52px;
        height: 52px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    @media (min-width: 768px) {
      height: 660px;
      max-width: 835px;
      width: 100%;
      background: #D6E0EF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  h3 {
    color: #1175BB;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    margin: 14px auto 39px auto;
    
    @media (min-width: 768px) {
      font-size: 43px;
    }
  }

}

.form-input {
  padding-bottom: 25px;
  position: relative;
  text-align: center;

  input {
    text-decoration: none;
    background-color: #D6E0EF;
    border-style: none;
    width: 258px;
    height: 40px;
    padding-left: 35px;
    font-size: 14px;
    font-weight: 100;

    @media (min-width: 768px) {
      text-decoration: none;
      border-style: none;
      width: 695px;
      height: 80px;
      padding-left: 70px;
      font-size: 28px;
      font-weight: 100;
      background-color: white;
    }
  }

  &__icon {
    position: absolute;
    margin: 13px 10px;
    height: 14px;

    @media (min-width: 768px) {
      height: 25px;
      margin: 27px;
    }
  }
}

.icon {
  &-user {
    background-image: url('assets/images/user.svg');
    width: 11px;

    @media (min-width: 768px) {
      width: 21px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-email {
    background-image: url('assets/images/email.svg');
    width: 16px;
    height: 13px;

    @media (min-width: 768px) {
      width: 30px;
      height: 21px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-suitcase {
    background-image: url('assets/images/suitcase.svg');
    width: 16px;

    @media (min-width: 768px) {
      width: 30px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-telephone {
    background-image: url('assets/images/telephone.svg');
    width: 14px;

    @media (min-width: 768px) {
      width: 25px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-tick {
    background-image: url('assets/images/tick.svg');
    width: 39px;
    height: 39px;
    margin-right: 15px;

    @media (min-width: 768px) {
      width: 61px;
      height: 61px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-processing {
    background-image: url('assets/images/notif.svg');
    width: 73px;
    height: 73px;

    @media (min-width: 768px) {
      width: 112px;
      height: 112px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.form-button {
  text-align: center;

  input {
    width: 169px;
    height: 46px;
    border-style: none;
    border-radius: 50px;
    color: white;
    background-color: #1175BB;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;

    @media (min-width: 768px) {
      width: 255px;
      height: 70px;
      font-size: 23px;
    }
  }
}

.processing {
  display: flex;
  justify-content: center;

  .icon-processing {
    display: inline-block;
    margin-top: 25px;
  }
}

.request-sent {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;

  span {
    font-size: 19px;
    color: #1175bb;
    width: 150px;
    
    @media (min-width: 768px) {
      font-size: 37px;
      width: auto;
    }
  }
}

#notification, #modal {
  display: none;
}